body {
    font-size: 20px;
    color: white;
    background-image: url('food-screenshot.png');
    background-size: cover;
}
.wd {
    width: 300px;
    height: 539px;
    background-color: black;
    opacity: 0.8;
    padding: 55px;
}